.wrapper {
  margin-bottom: 20px;
}

.group {
  float: left;
  border: 2px solid black;
  border-radius: 12px;
  margin: 5px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  color: black;
  width: 150px;
  height: 100px;
  overflow: hidden;
  position: relative; 
  cursor: pointer; 
}

/* Flip animation */
.group.flip {
  animation: flipAnimation 0.4s;
}

@keyframes flipAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.text {
  font-weight: bold;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  color: rgb(250, 248, 248);
  overflow: hidden;
}

.state-text {
  font-size: 17px;
  margin-left: 10px;
  color: rgb(250, 248, 248);
}

.switch {
  margin-left: 10px;
}

.light.off {
  background-color: #f09e07;
}

.light.on {
  background-color: #f9eb25;
}

.switch.off {
  background-color: #64b5f6;
}

.switch.on {
  background-color: #9e09e4;
}

.group.sensor {
  background-color: rgb(45, 189, 45);
}

.group.media-player {
  background-color: #8a7979;
}

.media-player-tile {
  text: none;
  display: block;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px;
  background-color: rgb(2, 29, 34);
  width: 370px;
  height: 100px;
  overflow: hidden;
}

.media-player-tile .album-art {
  width: 100px;
  height: 100px;
  float: left;
}

.media-player-tile .media-title {
  text-align: right;
  color: rgb(250, 248, 248);
}

.media-player-tile .media-artist {
  text-align: right;
  color: rgb(250, 248, 248);
}

.media-player-tile .media-album {
  margin-bottom: 5px;
  color: rgb(250, 248, 248);
  margin-right: 10px;
  text-align: right;
}


.group:not(:last-child) {
  margin-right: 20px;
}
