
.wrapper {
  display: flex;
  flex-wrap: wrap; /* Allow tiles to wrap to the next line */
  justify-content: flex-start; /* Align tiles at the start of the container */
  align-items: flex-start; /* Align tiles to the start of the container */
  margin-bottom: 20px;
}
.group {
  float: left;
  border: 2px solid black;
  border-radius: 12px;
  margin: 10px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  color: black;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative; /* Add position relative for child elements */
  cursor: pointer; /* Add cursor pointer to indicate clickable */
}

/* Flip animation */
.group.flip {
  animation: flipAnimation 0.4s;
}

@keyframes flipAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.text {
  font-weight: bold;
  font-size: 15px;
  font-family: "Microsoft Yahei";
  color: rgb(250, 248, 248);
  overflow: hidden;
}

.state-text {
  font-size: 15px;
  margin-left: 10px;
  color: rgb(250, 248, 248);
}

.switch {
  margin-left: 10px;
}

.light.off {
  background-color: #f09e07;
}

.light.on {
  background-color: #f9eb25;
}

.switch.off {
  background-color: #64b5f6;
}

.switch.on {
  background-color: #9e09e4;
}

.group.sensor {
  background-color: rgb(45, 189, 45);
}

.group.media-player {
  background-color: #776868;
}

.media-player-tile {
  display: block;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px;
  background-color: rgb(2, 29, 34);
  width: 200px;
  height: 100px;
  overflow: hidden;
}



.media-player-tile {
  font-size: 12px;
  position: relative; /* Ensure relative positioning for absolute positioning of elements inside */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media-friendly-name {
  font-size: 12px;
  position: absolute;
  top: 10px; /* Adjust top position to your liking */
  left: 10px; /* Adjust left position to your liking */
  font-weight: bold;
  color: white; /* Example color for the friendly name */
}

.media-state {
  position: absolute;
  font-size: 12px;
  bottom: 10px; /* Adjust bottom position to your liking */
  left: 10px; /* Adjust left position to your liking */
  font-style: italic;
  color: white; /* Example color for the state */
}

/* Adjustments for consistent spacing */
.group:not(:last-child) {
  margin-right: 20px;
}
